# Rust
target/
**/*.rs.bk

# Node.js
node_modules/
web/dist/
web/tsconfig.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Igored by user
*.docx
*.zip
